.app {
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.app .main {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}
